<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="coreFramework.CoreListener"></listener>
	</listeners>

	<test name="Test">

		<parameter name="TestCaseName" value="TC02_TakamolE2E_IICServiceRequest" />
		<parameter name="Url"
			value="https://takamol-qa.appcino-tech.com:433/rehab/auth/login" />
		<parameter name="UserName" value="automationtaheel@gmail.com" />
		<parameter name="Password" value="UXdlcnR5QDEyMw==" />
		<classes>

			<class name="takamol.TC02_TakamolE2E_IICServiceRequest"></class>

		</classes>


	</test>
</suite> 
