<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!-- MAIL PARAMETERS -->
	<parameter name="toEmailId" value="arjit.yadav@appcino.com" />
	<parameter name="ccEmailId" value="yadavarjit@gmail.com" />
	<parameter name="fromEmailId" value="appcinoqa@gmail.com" />
	<parameter name="senderPassword" value="eypulhncecqpbjkk" />
	
	<listeners>
		<listener class-name="coreFramework.CoreListener"></listener>
	</listeners>

	<test name="Test">

		<!-- TEST PARAMETERS -->
		<!-- <parameter name="Browser" value="CHROME" /> -->
		<parameter name="TestCaseName" value="AutomationDemo" />
		<parameter name="Url"
			value="https://pjjb.appian.community/suite/sites/nexus-intranet" />
		<parameter name="UserName" value="demo_user" />
		<parameter name="Password" value="demouser1" />

		<classes>

			<class name="scripts.AutomationDemo"></class>

		</classes>


	</test>
</suite> 
